 *{
    padding: 0;
    margin: 0;
   
} 

section{
    width: 80%;
    margin: auto;
}

section .sec-title{
    font-size: 40px;
    font-weight: 700;
}

header{
    margin: 0;
    /* width: 100%; */
    position: relative;
}

header img{
    width:100%;
}

header .desc{
    /* color: #fff; */
    text-align: right;
    position: absolute;
    top: 40%;
    right: 10%;
    transition: all;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    transform: translate(0%, -50%);
}

.desc-p{
    color:rgb(73, 71, 71);
    font-size: 12px;
}


.desc h1{
    font-size: 60px;

}


.defoult-btn{
    background-color: #F15B22;
    color: #FFFFFF;
    margin-top: 20px;
    border: none;
    padding: 10px;
    border-radius: 8px;
}

.donat-sec{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 80px;
}


.sec-plan{
    text-align: center;
    margin-bottom: 80px;
    display: flex;
    gap: 20px;
}


.skill-contrinar{   
    display: flex;
    justify-content: center;
    gap: 50px;
    width: 1141px;
    height: 299.96;
}
.skill{
    text-align: center;
    display: flex;
    gap: 11px;
    flex-direction: column;
    margin-bottom: 80px;
}

.skill p{
    color: gray;
}

.skill img{
    width: 93px;
    margin: auto;}


.resume-title{
    text-align: center;
    margin-bottom: 50px;
}




































