 * {
     padding: 0;
     margin: 0;

 }

 section,
 .footer {
     width: 80%;
     margin: auto;
 }

 .sec-btn {
    margin-top: 20px;
    border: #FFFFFF 2px solid;
    color: #F15B22;
    background-color: #FFFFFF;
    font-size: 20px;
    font-weight: 600;
    border-radius: 4px;
    padding: 10px 18px;
}

.sec-btn:hover {
    border: #FFFFFF 2px solid;
    color: white;
    background-color: #F15B22;
    transition: all;
    transition-duration: 500ms;
}

 section .sec-title {
     font-size: 40px;
     font-weight: 700;
 }
 

 /* header */
 header {
     margin: 0;
     /* width: 100%; */
     position: relative;
 }

 header img {
     width: 100%;
 }

 header .desc {
     /* color: #fff; */
     text-align: right;
     position: absolute;
     top: 40%;
     right: 10%;
     transition: all;
     font-family: Verdana, Geneva, Tahoma, sans-serif;
     transform: translate(0%, -50%);
 }

 .desc-p {
     color: rgb(73, 71, 71);
     font-size: 12px;
 }


 .desc h1 {
     font-size: 60px;

 }


 .defoult-btn {
     background-color: #F15B22;
     color: #FFFFFF;
     margin-top: 20px;
     border: none;
     padding: 10px;
     border-radius: 8px;
 }


 /* donate section */

 .donat-sec {
    font-size: 16px;
     display: flex;
     align-items: center;
     justify-content: space-between;
     margin-bottom: 80px;
 }

 .sec-plan {
     text-align: center;
     margin-bottom: 80px;
     display: flex;
     gap: 20px;
 }

 .donat-sec ul{
    list-style-type: none;
    color: gray;
 }


 /* skill section */
 .skill-contrinar {
     display: flex;
     justify-content: center;
     gap: 80px;
     width: 1141px;
     height: 299.96;
 }

 .skill {
     text-align: center;
     display: flex;
     gap: 11px;
     flex-direction: column;
     margin-bottom: 80px;
 }

 .skill p {
     color: gray;
 }

 .skill img {
     width: 93px;
     margin: auto;
 }


 .resume-title {
     text-align: center;
     margin-bottom: 50px;
 }

/* resume banner */
 .sub-banner {
     position: relative;
 }


 .sub-call {
     position: absolute;
     left: 0;
     top: 0;
     padding: 50px;
     background-image: url(./new-year-new-me/images/colar/gradient2.png);
     background-repeat: no-repeat;
     width: 100%;
     height: 100%;
     color: #FFFFFF;
 }

 .sub-call h1 {
     font-size: 40px;
 }

 /* footer */

 footer {
    color: white;
     margin-top: 80px;
     padding: 40px 0;
     background-color: black;

 }

 .footer {
     display: flex;
     justify-content: space-between;
font-family: Verdana, Geneva, Tahoma, sans-serif;
 }


 footer h1 {
     color: #F8F8F8;
     font-size: 45px;
     margin-bottom: 15px;
 }


 footer p {
    margin-bottom: 10px;
    color: #FFFFFF;
    font-size: 16px;
 }

 footer img {
     width: 46px;
     margin-top: 15px;
     margin-right: 10px;
 }

 .footer input{
    margin-top: 15px;
    padding: 14px 8px;
    background-color: black;
    border: white 2 px solid;
    border-radius: 6px;
    color: white;
 }